@import '../../style/variable';

.menu {
    display: none;

    .boxLogo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        &__icon {
            color: $color-white;
            font-size: 30px;
        }
    }

    .menuList {
        &__item {
            padding: 10px 20px;

            &:nth-child(4) {
                margin-bottom: 20px;
            }
        }

        &__link {
            display: block;
            color: $color-green;
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            text-decoration: none;
        }

    }

    .menuIcon {
        border-top: 1px solid #ffffff4a;
        border-bottom: 1px solid #ffffff4a;
        width: 80%;
        padding: 10px 0px;
        margin-bottom: 25px;

        &__item {
            display: flex;
            align-items: center;
            padding: 10px 20px;

            &:nth-child(1) {
                display: none;
            }

            &:nth-child(3)::after {
                content: "Map";
                color: $color-green;
                font-weight: 400;
                font-size: 17px;
                line-height: 22px;
            }
        }

        &__link {
            display: flex;
            align-items: center;
            column-gap: 10px;
            color: $color-green;
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 500px) {
    .menu {
        display: block;
        background: url('../../assets/image/backgroundmobile.webp') bottom left / cover no-repeat;
        
        position: absolute;
        top: 0%;
        right: -100vw;

        padding: 10px 30px;
        width: 100%;
        min-height: 100vh;
        z-index: 10;
    }
}