$color-green: #00FFC4;
$color-green-ligth: #01E59B;
$color-green-dark: #00af78;
$color-white: #FFFFFF;
$color-white-ligth: #F9FAFF;
$color-gray: #C6C6C6;
$bg-black: #1A1B24;
$bg-gray-dark: #23242F;
$bg-grandient: linear-gradient(180deg, #13141B 0%, #232532 100%);
$bg-grandient-hover: linear-gradient(180deg, #2FFDCE 0%, $color-green 100%);
$font-primary: 'Inter', sans-serif;